:root {
    --text-color: #000;
    --background-color: #DE742BE5
}

body {
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: 300;
    color: var(--text-color);

}

.header-link {
    text-align: center;
    line-height: normal;
}

.hero-title {
    font-size: 90px;
    font-weight: 600;
    line-height: normal;
}

.hero-text {
    font-size: 50px;
    line-height: 130%;
}

.hero-button {
    line-height: normal;
}

.about-text {
    font-weight: 600;
    line-height: normal;
}

.about-titel {
    font-size: 50px;
    line-height: 130%;
    /* 65px */
}

.about-item {
    font-size: 34px;
    line-height: 130%;
    /* 44.2px */
}

.learning-text {
    font-weight: 600;
    line-height: normal;
}

.learning-title {
    font-size: 50px;
    line-height: 130%;
    /* 65px */
}

.lerning-item {
    font-size: 34px;
    line-height: 130%;
    /* 44.2px */
}

.curces-title {
    font-size: 50px;
    line-height: 130%;
    /* 65px */
}

.curces-subtitle {
    font-size: 34px;
    line-height: 130%;
    /* 44.2px */
}

.curces-text {
    line-height: normal;
}

.travel-subtitle {
    font-weight: 600;
    line-height: normal;
}

.travel-title {
    font-size: 50px;
    line-height: 130%;
    /* 65px */
}

.travel-text {
    font-size: 34px;
    line-height: 130%;
    /* 44.2px */
}

.teachers-text {
    font-weight: 600;
    line-height: normal;
}

.teachers-title {
    font-size: 50px;
    line-height: 130%;
    /* 65px */
}

.teachers-name {
    font-size: 30px;
    line-height: normal;
}

.teachers-profes {
    font-size: 22px;
    line-height: normal;
}

.note-subtitle {
    font-weight: 600;
    line-height: normal;
}

.note-title {
    font-size: 50px;
    line-height: 130%;
    /* 65px */
}

.note-name {
    font-size: 34px;
    line-height: 130%;
    /* 44.2px */
}

.note-adress {
    line-height: normal;
}

.note-text {
    line-height: normal;
}

.footer-title {
    text-align: center;
    font-size: 41.619px;
    font-weight: 600;
    line-height: normal;
}

.footer-subtitle {
    text-align: center;
    font-size: 18px;
    line-height: normal;
}

.footer-link {
    text-align: center;
    font-size: 18px;
    line-height: normal;
}

.footer-address {
    text-align: center;
    font-size: 18px;
    line-height: normal;
}

.footer-social {
    text-align: center;
    font-size: 18px;
    line-height: normal;
}